<div class="container-fluid py-3 cont1 ">
    <h1 py-3><strong> BLOCKS IN CHAIN</strong></h1>
    <p>Each card represents a block on the chain. Click on a block to see the transactions stored inside.</p>
</div>

<div class="container-fluid py-3 my-3 text-center cont2" style="overflow-x: scroll;white-space: nowrap;">
    <app-block-view *ngFor="let block of blocks" [block]="block" [selectedBlock]="selectedBlock" (click)="showTransactions(block)"></app-block-view>
</div>

<br><br>

<div class="container-fluid  py-3 cont3">
    <h1 class="text-center">Transactions inside block {{ getBlockNumber(selectedBlock) }}</h1>

    <app-transactions-table [transactions]="selectedBlock.transactions"></app-transactions-table>
</div>