<div *ngIf="isLoading" class="overlays d-flex fixed-top h-100 w-100 justify-content-center align-items-center" style="background-color: black; opacity: 0.9;">
    <img *ngIf="isLoading" src="../../../assets/spinner.gif" alt="" style="width: 100px; height :  100px">
</div>
<div class="container-fluid py-3 cont1 ">
    <h1 py-3><strong> BLOCKS IN CHAIN</strong></h1>
    <p>Each card represents a block on the chain. Click on a block to see the transactions stored inside.</p>
</div>

<div class="container-fluid py-3 my-3 text-center cont2" style="overflow-x: scroll;white-space: nowrap;">
    <app-block-view *ngFor="let block of blocks" [block]="block" [selectedBlock]="selectedBlock" (click)="showTransactions(block)"></app-block-view>
</div>

<br><br>

<div class="container-fluid  py-3 cont3">
    <h1 class="text-center">Transactions inside block {{ getBlockNumber(selectedBlock) }}</h1>

    <app-transactions-table [transactions]="selectedBlock.transactions"></app-transactions-table>
</div>
