.navbar {
    background-color: #fff;
    box-shadow: 0px 1px 1px 1px #4C5E67 !important;
}

a,
button {
    color: #2C666E !important;
}

button:hover {
    color: #000d15 !important;
}

button {
    border: 1px solid #2C666E !important;
}
