<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
        BlockDoc
    </a>
    <div>
        <button routerLink="/new/transaction/pending" class="btn btn-outline-light" *ngIf="thereArePendingTransactions()">
      Pending transactions
      <span class="badge badge-light">{{blockchain.pendingTransactions.length}}</span>
    </button> &nbsp;
        <button routerLink="/settings" class="btn btn-outline-light">
      Settings
    </button> &nbsp;
        <button routerLink="/verify" class="btn btn-outline-light">
      Verify PDF
    </button> &nbsp;
        <button routerLink="/new/transaction" class="btn btn-outline-light">
      Create transaction
    </button>
    </div>
</nav>

<br>

<router-outlet></router-outlet>
