<nav class="navbar navbar-light justify-content-around sticky-top">
    <a class="navbar-brand" routerLink="/">
        <fa-icon [icon]="faCube" size="2x"></fa-icon>
        <fa-icon [icon]="faFilePdf" size="2x"></fa-icon>
    </a>
    <div>
        <button routerLink="/new/transaction/pending" class="btn btn-outline-light" *ngIf="thereArePendingTransactions()">
      Pending transactions
      <span class="badge badge-dark">{{blockchain.pendingTransactions.length}}</span>
    </button> &nbsp;
        <button routerLink="blockchain/settings" class="btn btn-outline-light">
      Settings
    </button> &nbsp;
        <button routerLink="blockchain/verify" class="btn btn-outline-light">
      Verify PDF
    </button> &nbsp;
        <button routerLink="/new/transaction" class="btn btn-outline-light">
      Create transaction
    </button>
    </div>
</nav>

<br>

<router-outlet></router-outlet>