/* You can add global styles to this file, and also import other style files */

h1 {
    font-weight: 800 !important;
    color: #fff !important;
    /* background-color: #52796f; */
}

input[type="file"],
h5,
label,
.card-link,
span {
    color: #fff !important;
}

p {
    color: #90DDF0 !important;
}

.text-muted small {
    font-weight: 800 !important;
    color: black;
}

small.text-muted {
    color: #fff !important;
}

small {
    font-weight: 800 !important;
}

h5 {
    font-weight: 800 !important;
    color: #fff !important;
    font-size: x-large !important;
}

body {
    font-family: Helvetica !important;
    background-color: #0A090C !important;
    background-color: #0A090C;
    /* opacity: 0.9; */
    background: radial-gradient(circle, transparent 20%, #0A090C 20%, #0A090C 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #0A090C 20%, #0A090C 80%, transparent 80%, transparent) 100px 100px, linear-gradient(#2C666E 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #2C666E 8px, #0A090C 8px) -4px 0;
    background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
}

::-webkit-scrollbar {
    background-color: #04151f;
}

::-webkit-scrollbar-track {
    background-color: #04151f !important;
    border-radius: 100px !important;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #fff 0%, #fff 99%) !important;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
    border-bottom-left-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
}
